*{ word-wrap: break-word; font-family: 'FuturaMedium'; font-size: 16px; }
body { margin:0; padding:0; }
@font-face {
  font-family: 'FuturaMedium';
  src: url('../fonts/FuturaMedium.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/FuturaMedium.woff') format('woff'), 
  url('../fonts/FuturaMedium.ttf')  format('truetype'), 
  url('../fonts/FuturaMedium.svg#FuturaMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamLight';
  src: url('../fonts/GothamLight.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/GothamLight.woff') format('woff'), 
  url('../fonts/GothamLight.ttf')  format('truetype'), 
  url('../fonts/GothamLight.svg#GothamLight') format('svg');
  font-weight: normal;
  font-style: normal;
}

.clearer { clear: both; }
.container{ margin: 0 auto; padding: 0; width: 80%; background-color: #fff; position: relative; }
.container .logo{ margin: 60px 0 0 0; padding: 0; width: 22%; float: left; }
.container .logo a{ margin: 0; padding: 0; border: 0; outline: 0; display: block; text-decoration: none; }
.container .logo a img{ margin: 0; padding: 0; border: 0; outline: 0; width: 100%; }
.container .search{ margin: 20px 0 0 0; padding: 0; width: 20%; border-bottom: solid 1px #000000; float: right; }
.container .search form{ margin: 0; padding: 0; }
.container .search form input[type="text"]{ margin: 0; padding: 0; border: 0; outline: 0; width: 80%; height: 30px; float: left; }
.container .search form input[type="submit"]{ margin: 0; padding: 0; border: 0; outline: 0; width: 30px; height: 30px; float: right; background-color: #ffffff; background-image: url('../img/search.png'); background-size: 20px 20px; background-repeat: no-repeat; background-position: center center; cursor: pointer; }
.container .navigation{ margin: -30px 0 0 0; padding: 0; border: 0; outline: 0; height: 60px; line-height: 30px; float: right; clear: both; }
.container .navigation ul{ margin: 0; padding: 0; text-align: right; list-style-type: none; float: right; }
.container .navigation ul li{ margin: 0; padding: 0 0 0 40px; float: left; text-align: right; position: relative; }
.container .navigation ul li a{ margin: 0; padding: 1px 10px; border: solid 1px #ffffff; display: block; line-height: 20px; text-decoration: none; color: #000000; font-family: 'FuturaMedium'; font-size: 16px; }
.container .navigation ul li a:hover{ border: solid 1px #000000; }
.container .navigation ul li .active{ border: solid 1px #000000; }
.container .navigation ul .icon{ display: none; }

.container .navigation .sub{ margin: 20px 0 0 0; padding: 0; list-style-type: none; float: right; clear: both; }
.container .navigation .sub li{ margin: 0; padding: 0; text-align: right; float: left; }
.container .navigation .sub li a{ margin: 0; padding: 1px 10px 1px 10px; border:0px; color: #949494; }
.container .navigation .sub li a:hover{ margin: 0; border:0px; border-bottom:solid 1px #949494; padding: 1px 10px 1px 10px; }
.container .navigation .sub li .active{ margin: 0; border:0px; border-bottom:solid 1px #949494; padding: 1px 10px 1px 10px; }

.container .mobileNav{ margin: -23px 0 0 0; padding: 0; width: calc(100% - 2px); float:left; border: solid 1px #000000; }
.container .mobileNav ul{ margin: 0; padding: 0; text-align: right; list-style-type: none; }
.container .mobileNav ul li{ margin: 0; padding: 0; width: 100%; text-align: center; }
.container .mobileNav ul li a{ margin: 0; padding: 0 10px; text-decoration: none; text-align: left; color: #000000; display: block; line-height: 25px; font-family: 'FuturaMedium'; font-size: 16px; }
.container .mobileNav ul li form{ margin: 0; padding: 15px 10px 5px 10px; }
.container .mobileNav ul li form input[type="text"]{ margin: 0; padding: 0; border: 0; outline: 0; width: calc(100% - 30px); height: 30px;     border-bottom: solid 1px #000000; }
.container .mobileNav ul li form input[type="submit"]{ margin: 0; padding: 0; border: 0; outline: 0; width: 30px; height: 30px; float: right; background-color: #ffffff; background-image: url('../img/search.png'); background-size: 20px 20px; background-repeat: no-repeat; background-position: center center; cursor: pointer; }
.container .mobileNav .submenu{ margin-left: 20px; width: calc(100% - 20px); }

.content{ margin: 0 auto; padding: 0; width: 80%; min-height: 450px; clear: both; }
.content .project-box{ margin:0px -1%; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: stretch; -webkit-align-items: stretch; -ms-flex-align: stretch; align-items: stretch; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; float: left; margin-top: 20px; }
.content .project-box .project-item{ width:23%; margin: 10px 1%; padding: 0; border-bottom: solid 1px #000000; }
.content .project-box .project-item a{ display: block; text-decoration: none; color: #000000; }
.content .project-box .project-item a img{ width:100%; margin: 0; padding: 0; float: left; }
.content .project-box .project-item a .text{ margin: 0; padding: 5px 0; width: 80%; float: left; font-family: 'GothamLight'; font-size: 16px; text-align: left; }
.content .project-box .project-item a .year{ margin: 0; padding: 5px 0; width: 20%; float: right; font-family: 'GothamLight'; font-size: 16px; text-align: right; }
.content .project-box .single{ width: 25%; }

.content .leftside{ margin: 0; padding: 0; width: 18%; margin-right: 2%; float: left; }
.content .leftside .title{ font-family: 'FuturaMedium'; font-size: 21px; }
.content .leftside .text{ padding-top:20px; font-family: 'FuturaMedium'; font-size: 14px; line-height: 20px; font-weight: lighter; }

.content .leftside .text ul{ margin:0px 0 0 0; padding: 0; width:100%; list-style-type: none; }
.content .leftside .text ul li{ margin:0; padding: 0; width: 100%; float: left; clear: both; line-height: 25px; }
.content .leftside .text ul li img{ margin:4px 0 0 0; padding: 0; width: 15px; height: 15px; float: left; }
.content .leftside .text ul li p{ margin:0; padding: 0 0 0 5px; float: left; font-size: 14px; }

.content .leftside .text .title{ margin: 60px 0 10px 0; clear: both; float: left; }
.content .leftside .text form{ margin: 10px 0 0 0; padding: 0; width: 100%; float: left; clear: both;  }
.content .leftside .text form label{ margin: 0; padding: 0; width: 100%; float: left; font-family: 'FuturaMedium'; font-size: 16px; line-height: 18px; }
.content .leftside .text form input[type="text"]{ margin: 0 0 20px 0; outline:0; padding: 0; border: 0; width: 100%; height: 1px; border-bottom: 1px solid #000000; background-color: white; font-family: 'FuturaMedium'; font-size: 16px; float: left; }
.content .leftside .text form textarea{ margin: 0 0 20px 0; outline:0; padding: 0; border: 0; width: 100%; height: 1px; border-bottom: 1px solid #000000; background-color: white; font-family: 'FuturaMedium'; font-size: 16px; float: left; resize: none; }
.content .leftside .text form input[type="submit"]{ margin: 0 auto 20px auto; padding: 1px 10px; border: solid 1px #000000; display: block; line-height: 20px; text-decoration: none; color: #000000; font-family: 'FuturaMedium'; font-size: 16px; background-color: white; clear:both; display: block; cursor: pointer; }

.content .rightside{ margin: 0; padding: 0; width: 80%; float: right; }
.content .rightside #map{ margin: 0; padding: 0; width: 100%; min-height: 500px }

.content .rightside .sliderBox{ margin: 0; padding: 0; width: 100%; overflow: hidden; }
.content .rightside .slideNavigation{ margin: 0; padding: 0; width: 20%; float: left; padding-bottom: 500em;
  margin-bottom: -500em; }
.content .rightside .slideNavigation ul{ margin: 0; padding: 0; position: relative; height: 100%; list-style-type: none; }
.content .rightside .slideNavigation ul li{ margin: 0 0 5px 0; padding: 0; width: 100%; }
.content .rightside .slideNavigation ul li img{ margin: 0; padding: 0; width: 100%; }
.content .rightside .slideNavigation ul .up{ margin: 0; padding: 0; width: 100%; height: 25px; background-color: #cccccc; position: absolute; top: 0px; z-index: 200; }
.content .rightside .slideNavigation ul .down{ margin: 0; padding: 0; width: 100%; height: 25px; background-color: #cccccc; position: absolute; bottom: 0px; z-index: 200; }
.content .rightside .slideImages{ margin: 0; padding: 0; width: 80%; float: left; padding-bottom: 500em;
  margin-bottom: -500em; }
.content .rightside .slideImages ul{ margin: 0 0 0 5px; padding: 0; list-style-type: none; width: calc(100% - 5px); overflow: hidden; }
.content .rightside .slideImages ul li{ margin: 0; padding: 0; width: 100%; display: none; }
.content .rightside .slideImages ul li img{ margin: 0; padding: 0; border: 0; width: 100%; }
.content .rightside .slideImages ul .activeSlide{ display: block; }
.pgwSlider .ps-current{ float: right !important; }
.ps-list{ float: left !important; }

.administrator{ margin: 0 auto; padding: 10px 5px; width: calc(80% - 10px); background-color: #f2f2f2; border-bottom: solid 1px #000000; font-family: 'FuturaMedium'; font-size: 16px; }
.administrator form{ margin: 0; padding: 0; }
.administrator form label{ margin: 0; padding: 0; font-family: 'FuturaMedium'; font-size: 16px; }
.administrator form input[type="text"]{ margin: 0; padding: 1px 5px; font-family: 'FuturaMedium'; font-size: 16px; }
.administrator form input[type="submit"]{ margin: 0; padding: 1px 5px; font-family: 'FuturaMedium'; font-size: 16px; }
.administrator font{ margin: 0; padding: 0; color: red; font-family: 'FuturaMedium'; font-size: 16px; }
.administrator a{ color: #000000; font-family: 'FuturaMedium'; font-size: 16px;}
.administrator form .removePanel{ float:right; }
.dragableArea{ margin: 0 0 10px 0; padding: 50px 0; text-align: center; width: calc(100% - 2px); background-color: #cccccc; border: solid 1px #555555; float: left; clear: both; }
#bgfile{ margin: 0; padding: 0; width: 1px; height: 1px; position: absolute; opacity: 0; }

.footer{ margin: 0 auto; padding: 0; width: 80%; clear: both; }
.footer .copyright{ margin: 40px 0 10px 0; padding: 0; width: 80px; float: right; display: block; cursor: pointer; }

@media (max-width: 992px) {
  .container{ width: 90%; }
  .content{ width: 90%; }
  .footer{ width: 90%; }
	.container .search{ display: none;  }
  .container .logo{ margin: 20px 0 0 0; }
  .container .navigation{ margin-top: -35px; }
  .container .navigation ul li{ display: none; }
  .container .navigation ul .icon{ display: block; }
  .container .navigation ul .icon a{ width:20px; height:20px; display: inline; padding: 10px 15px 5px 15px; border: solid 1px #000000; background-image: url('../img/nav.png'); background-size: 11px 11px; background-repeat: no-repeat; background-position: center center; }
  .container .navigation ul .close a{ padding: 10px 15px 5px 15px; border: solid 1px #000000; background-image: url('../img/close.png'); background-size: 11px 11px; background-repeat: no-repeat; background-position: center center; }
  .container .navigation .sub{ display: none; }
  .content .project-box .project-item{ width: 48%; }
  .content .project-box .single{ width: 50%; }
  .content .leftside{ margin: 10px 0; width: 100%;  }
  .content .rightside{ margin: 10px 0; width: 100%; }
}

@media (max-width: 768px) {
  .container .logo{ width: 30%;  }	
}

@media (max-width: 480px) {
  .content .project-box{ margin: 0 0 0 0; width: 100%; }
  .content .project-box .project-item{ margin:10px 0 10px 0px; width: 100%; }
  .content .project-box .single{ width: 100%; }
  .container .logo{ width: 50%; }  	
}